.image{
    background-color: whitesmoke;
    width: auto;
    height: 700px;
}
#title{
    display:flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
}
.image #title{
    color: #24252a;
    display: block;
    text-align: center;
}
.div{
    background-color: #24252a;
    display:flex;
    justify-content: space-evenly;
    padding:40px;
    overflow: hidden;
    height: 500px;
    margin: 40px;
    transition: 0.5s ease; 
}
.img1{
    width: 350px;
    height:300px;
    opacity: 0.5;
    border: 5px solid #405C5D;
    transition: 0.5s ease; 
}
.img2 {
    width: 350px;
    height:300px;
    opacity: 0.5;
    border: 5px solid #405C5D;
    transition: 0.5s ease; 
}
.img3{
    width: 350px;
    height:300px;
    opacity: 0.5;
    border: 5px solid #405C5D;
    transition: 0.5s ease; 
}
img:hover{
    opacity: 1;
    transform: scale(1.2);
    margin: 0px;
}
.des p{
    color: white;
    text-align: center;
    font-size: 30px;
}
@media (max-width: 1023) {
.div{
    max-width:100px;
}
.des{
    max-width:100px
}

}

